<section class="content">
    <h2>Portafolio</h2>
    
    <div id="cajas">
        <div class="buttons">
            <a href="https://www.facebook.com/clot.strabe/">
                <img src="assets/images/facebook.png"/>
                <p>Visitanos en facebook</p>
            </a>
        </div>

        <div class="buttons">
            <a href="https://www.instagram.com/clot.strabe/">
                <img src="assets/images/instagram.png"/>
                <p>Visitanos en instagram</p>
            </a>
        </div>

        <div class="buttons">
            <a href="https://www.linkedin.com/in/clot.strabe/">
                <img src="assets/images/linkedin.png"/>
                <p>Visitanos en linkedin</p>
            </a>
        </div>
    </div>

    <h3>Algunos accesorios:</h3>
    <div id="photos">
        <img class="img" src="../../assets/images/1.png"/>
        <img class="img" src="../../assets/images/2.jpg"/>
        <img class="img" src="../../assets/images/3.jpg"/>
        <img class="img" src="../../assets/images/4.jpg"/>
        <img class="img" src="../../assets/images/5.jpg"/>
    </div>
   
</section>